<template>
  <card class="card" title="Edition Du Profil">
    <div>
      <form @submit.prevent>
        <div class="row">
          <div class="col-md-7">
            <fg-input
              type="text"
              label="Nom d'utilisateur"
              placeholder="Nom d'utilisateur"
              v-model="adherant.nom"
              required
            >
            </fg-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <fg-input
              type="email"
              label="Email"
              placeholder="Email"
              v-model="adherant.email"
              required
            >
            </fg-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <fg-input
              type="text"
              label="Prénom"
              placeholder="Prénom"
              v-model="adherant.prenom"
            >
            </fg-input>
          </div>
          <div class="col-md-6">
            <fg-input
              type="text"
              label="Contact"
              placeholder="Contact"
              v-model="adherant.contact"
            >
            </fg-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <fg-input
              type="date"
              label="Date de naissance"
              placeholder="Date de naissance"
              v-model="adherant.date_nais"
              required
            >
            </fg-input>
          </div>

          <div class="col-md-6">
            <label for="inputGenre">Genre</label>
            <select v-model="adherant.genre" class="custom-select" id="inputGenre">
              <option selected>Choose...</option>
              <option value="Homme">Homme</option>
              <option value="Femme">Femme</option>
            </select>
          </div>
        </div>

        <div class="text-center">
          <p-button type="info" round @click.native.prevent="updateProfile">
            Mettre à Jour
          </p-button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </card>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
export default {
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      isAdher: "isAdher",
      hasAdher: "hasAdher",
      isWorker: "isWorker",
      noRole: "noRole",
      adherant: "getAppAdherant",
      appUser: "appUser",
    }),
  },
  methods: {
    ...mapActions(["getAllAdherants", "createAdherant", "updateAdherant", "updateUser"]),
    ...mapMutations(["SELECT_ADHERANT", "UPDATE_USER_ADHERANT"]),
    edit(ev) {
      this.SELECT_ADHERANT(ev);
      this.editMode = true;
      this.showModal = true;
      // window.alert(JSON.stringify(ev));
    },
    reset() {
      this.$store.commit("SELECT_ADHERANT", {});
    },
    create() {
      this.createAdherant(this.adherant)
        .catch(() => {})
        .then(() => {
          this.updateU(this.adherant.id)
            .catch(() => {})
            .then(() => {
              this.showModal = false;
              this.reset();
            });
        });
    },
    updateProfile() {
      this.updateAdherant({ id: this.adherant.id, data: this.adherant })
        .catch(() => {})
        .then(() => {
          this.UPDATE_USER_ADHERANT(this.adherant);
          this.showModal = false;
          this.reset();
          this.notifyVue("top", "right", "success", "Profil mis à jour !", "ti-check");
        });
    },
    notifyVue(verticalAlign, horizontalAlign, color, msg, icon) {
      this.$notify({
        // component: NotificationTemplate,
        message: msg,
        icon: icon,
        horizontalAlign: horizontalAlign,
        verticalAlign: verticalAlign,
        type: color /* success, primary, info, warning, danger */,
      });
    },
  },
  mounted() {
    this.getAllAdherants();
  },
};
</script>
<style></style>
