<template>
  <div>
    <card class="card" v-show="!isAdher">
      <p>
        <avatar
          :src="adherant.avatar"
          :size="150"
          :inline="true"
          :username="adherant.nom + ' ' + adherant.prenom"
        ></avatar>
        <span style="font-size: 25px; display: inline"
          ><b>{{ "  " + adherant.nom + " " + adherant.prenom }}</b></span
        >
      </p>
    </card>
    <card class="card" :title="title">
      <div>
        <ul class="list-unstyled team-members">
          <li v-for="s in services" :key="s.id">
            <div class="row">
              <div class="col-1">
                <small>{{ s.pivot.nombre }}</small>
              </div>

              <div class="col-8">
                <span :class="getStatusClass(s.pivot.nombre)">{{ s.nom }} </span>
              </div>
              <div class="col-2">
                <p-button
                  v-if="s.pivot.nombre > 0 && !isAdher"
                  @click.native.prevent="decrementService(s.id)"
                  type="success"
                  outline
                  icon
                >
                  <i class="fa fa-minus"></i>
                </p-button>
                <p-button v-show="!isAdher" v-else type="warning" outline icon>
                  <i class="fa">!</i>
                </p-button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </card>
    <card
      v-for="f in forfaits"
      :key="f.id"
      v-show="!expire(f.duree, f.pivot.start_date)"
      class="card"
      :title="
        f.nom + ' (Expire dans ' + expireIn(f.duree, f.pivot.start_date) + ' Jours)'
      "
    >
      <!-- v-show="expire(f.duree, f.created_at)" -->
      <!-- {{ "Si : " + expire(f.duree, f.created_at) }} -->
      <div>
        <!-- <ul>
          Expire dans
          {{
            expireIn(f.duree, f.created_at)
          }}
          jours
        </ul> -->
        <ul class="list-unstyled team-members">
          <li v-for="s in f.services" :key="s.id">
            <div class="row">
              <div class="col-2">
                <small>{{ getForfaitServiceCount(f, s.id) }}</small>
              </div>

              <div class="col-7">
                <span :class="getStatusClass(getForfaitServiceCount(f, s.id))"
                  >{{ s.nom }}
                </span>
              </div>
              <div class="col-2">
                <!-- v-if="isWorker" -->
                <!-- {{ "Val : " + getForfaitServiceCount(f, s.id) }} -->
                <p-button
                  v-if="getForfaitServiceCount(f, s.id) > 0 && !isAdher"
                  @click.native.prevent="decrementForfait(f.id, s.id)"
                  type="success"
                  outline
                  icon
                >
                  <i class="fa fa-minus"></i>
                </p-button>
                <p-button v-show="!isAdher" v-else type="warning" outline icon>
                  <i class="fa">!</i>
                </p-button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </card>
  </div>
</template>
<script>
import Avatar from "vue-avatar";
import { mapGetters, mapActions } from "vuex";

export default {
  props: {
    services: Array,
    forfaits: Array,
    adherant: Object,
    title: String,
  },
  data() {
    return {};
  },
  components: { Avatar },
  computed: {
    ...mapGetters({
      isAdher: "isAdher",
      hasAdher: "hasAdher",
      isWorker: "isWorker",
      isAssis: "isAssis",
      noRole: "noRole",
    }),
  },
  methods: {
    ...mapActions(["decrementServiceNumber", "decrementForfaitNumber"]),
    getStatusClass(status) {
      switch (status) {
        case "0":
          return "text-danger";
        case "1":
          return "text-muted";
        case "2":
          return "text-muted";
        default:
          return "text-success";
      }
    },
    getForfaitServiceCount(forfait, service_id) {
      let counters = JSON.parse(forfait.pivot.counters);
      return counters[service_id];
    },
    decrementService(service_id) {
      let decObj = {
        service_id: service_id,
        adherant_id: this.adherant.id,
      };
      this.decrementServiceNumber(decObj);
    },
    decrementForfait(forfait_id, service_id) {
      let decObj = {
        service_id: service_id,
        forfait_id: forfait_id,
        adherant_id: this.adherant.id,
      };
      this.decrementForfaitNumber(decObj);
    },
    ageInNDays(created_at) {
      var age = this.moment.duration(this.moment() - this.moment(created_at));
      // return age.add(days, "d").asDays();
      return parseInt(age.asDays());
    },
    expireIn(duree, created_at) {
      return duree - this.ageInNDays(created_at);
    },
    expire(duree, created_at) {
      return this.ageInNDays(created_at) > duree;
    },
  },
};
</script>
<style></style>
