<template>
  <card class="card-user">
    <div slot="image">
      <center>
        <img
          style="width: 500px; height: 150px; border: none"
          src="@/assets/img/immofit-logo.jpeg"
          alt="..."
        />
      </center>
    </div>
    <div v-if="adherant != null">
      <div class="author">
        <div class="row">
          <div class="col-md-5">
            <!-- class="avatar border-white" -->
            <avatar
              :src="adherant.avatar"
              :size="150"
              :inline="false"
              :username="adherant.nom + ' ' + adherant.prenom"
            ></avatar>
            <!-- <img style="width: 200px; height: 150px" :src="adherant.avatar" alt="..." /> -->
          </div>
          <div class="col-md-7" style="text-align: left">
            <h4 class="title">Nom: {{ adherant.nom }}</h4>
            <h4 class="title">Prenom: {{ adherant.prenom }}</h4>
            <h4 class="title">Contact: {{ adherant.contact }}</h4>

            <h4 class="title">
              <a href="#">
                <small>{{
                  adherant.genre + " (" + getAge(adherant.date_nais) + " Ans)"
                }}</small>
              </a>
            </h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <p class="title">Youndé Derrière Hopital Gynico</p>
          <p class="title">Entrée Maetur</p>
          <p class="title">
            Contact: +237 680 58 34 09 <br />
            +237 698 76 40 72
          </p>
        </div>
        <div class="col-md-6">
          <center>
            <img id="im" :src="newQRCode" alt="QRCode" />
          </center>
        </div>
      </div>
    </div>
    <hr />
    <div class="text-center">
      <div class="row"></div>
    </div>
  </card>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import Avatar from "vue-avatar";
import QRious from "qrious";
import moment from "moment";

export default {
  data() {
    return {
      qrcode: new QRious(),
      qrText: "https://github.com/neocotic/qrious",
    };
  },
  components: { Avatar },
  methods: {
    getAge(birthday) {
      var a = moment();
      var b = moment(birthday /* , "YYYY" */);
      var age = a.diff(b, "years"); // calculates patient's age in years
      return age; // this prints out the age
    },
  },
  mounted() {},
  computed: {
    ...mapGetters({
      isAdher: "isAdher",
      hasAdher: "hasAdher",
      isWorker: "isWorker",
      noRole: "noRole",
      appUser: "getAppUser",
      adherantById: "adherantById",
    }),
    newQRCode() {
      this.qrcode.value = this.text;
      return this.qrcode.toDataURL();
    },
    text() {
      return JSON.stringify({ id: this.adherant.id, nom: this.adherant.nom });
    },
    adherant() {
      return this.adherantById(this.appUser.adherant_id);
    },
  },
};
</script>
<style>
#im {
  text-align: center;
  width: 150px;
  height: 150px;
}
</style>
