<template>
  <footer class="footer">
    <div class="container-fluid d-flex flex-wrap justify-content-between">
      <nav>
        <ul>
          <li>
            <router-link :to="{ path: '/dashboard' }"></router-link>
          </li>
        </ul>
      </nav>
      <div class="copyright d-flex flex-wrap float-right">
        <!-- &copy; Coded with -->
        <!-- <i class="fa fa-heart heart"></i> by -->
        <!-- <a href="#" target="_blank"> &nbsp; Ben & Tony</a> -->
        &nbsp; Designed by
        <a href="mailto:mahmoud.join@gmail.com" target="_blank"
          >&nbsp; Phoenix Studios And Design</a
        >
      </div>
    </div>
  </footer>
</template>
<script>
export default {};
</script>
<style></style>
