<template>
  <div class="wrapper">
    <side-bar>
      <template slot="links">
        <!-- <sidebar-link to="/dashboard" name="Dashboard" icon="ti-panel"/> -->
        <!-- <sidebar-link to="/stats" name="User Profile" icon="ti-user"/> -->

        <sidebar-link
          v-if="isWorker || isAdher"
          to="/accueil"
          name="Accueil"
          icon="ti-home"
        />
        <sidebar-link v-if="isDoctor" to="/medical" name="Médical" icon="ti-support" />
        <sidebar-link
          v-if="isAdmin || isAssis"
          to="/ventes"
          name="Ventes"
          icon="ti-money"
        />
        <sidebar-link
          v-if="isAdmin || isAssis"
          to="/services"
          name="Services"
          icon="ti-package"
        />
        <sidebar-link
          v-if="isAdmin || isAssis"
          to="/forfaits"
          name="Forfaits"
          icon="ti-gift"
        />

        <sidebar-link
          v-if="isAdmin || isAssis"
          to="/stocks"
          name="Stocks"
          icon="ti-harddrives"
        />

        <sidebar-link
          v-if="isAdmin || isAssis"
          to="/adherents"
          name="Adhérents"
          icon="ti-user"
        />
        <sidebar-link v-if="isAdmin" to="/employes" name="Employés" icon="ti-user" />
        <sidebar-link v-if="isAdmin" to="/roles" name="Roles" icon="ti-user" />
        <!-- <sidebar-link to="/typography" name="Typography" icon="ti-text"/> -->
        <!-- <sidebar-link to="/icons" name="Icons" icon="ti-pencil-alt2"/> -->
        <!-- <sidebar-link to="/maps" name="Map" icon="ti-map"/> -->
        <!-- <sidebar-link to="/notifications" name="Notifications" icon="ti-bell"/> -->
      </template>
      <mobile-menu>
        <li class="nav-item">
          <a class="nav-link">
            <!-- <i class="ti-panel"></i> -->
            <p style="cursor: pointer; align: center">
              <i class="ti ti-user"></i> {{ appUser.name }} <br />
              {{ appUser.email }}
              <!-- {{ isAdmin }} -->
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a @click="logout()" class="nav-link">
            <!-- <i class="ti-panel"></i> -->
            <p style="cursor: pointer">
              <i class="ti ti-shift-right"></i> Logout
              <!-- {{ isAdmin }} -->
            </p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link">
            <i class="ti-panel"></i>
            <p>Stats</p>
          </a>
        </li>
        <drop-down
          class="nav-item"
          title="5 Notifications"
          title-classes="nav-link"
          icon="ti-bell"
        >
          <a class="dropdown-item">Notification 1</a>
          <a class="dropdown-item">Notification 2</a>
          <a class="dropdown-item">Notification 3</a>
          <a class="dropdown-item">Notification 4</a>
          <a class="dropdown-item">Another notification</a>
        </drop-down>
        <li class="nav-item">
          <a class="nav-link">
            <i class="ti-settings"></i>
            <p>Settings</p>
          </a>
        </li> -->
        <li class="divider"></li>
      </mobile-menu>
    </side-bar>
    <div class="main-panel">
      <top-navbar></top-navbar>

      <dashboard-content @click.native="toggleSidebar"> </dashboard-content>

      <content-footer></content-footer>
    </div>
  </div>
</template>
<style lang="scss"></style>
<script>
import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import DashboardContent from "./Content.vue";
import MobileMenu from "./MobileMenu";
import { mapGetters } from "vuex";

export default {
  components: {
    TopNavbar,
    ContentFooter,
    DashboardContent,
    MobileMenu,
  },
  computed: {
    ...mapGetters({
      isAdher: "isAdher",
      isAdmin: "isAdmin",
      isAssis: "isAssis",
      isDoctor: "isDoctor",
      hasAdher: "hasAdher",
      isWorker: "isWorker",
      isAdherActive: "isAdherActive",
      noRole: "noRole",
      appUser: "getAppUser",
      user: "user",
    }),
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    },
    logout() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/connexion");
      });
    },
  },
};
</script>
