<template>
  <div class="row">
    <div
      v-if="isWorker && !isWorkerActive"
      align="center"
      class="col-xl-12 col-lg-12 col-md-12"
    >
      <h3>
        Bienvenue veuillez contacter un Administrateur pour l'activation de votre compte!
      </h3>
    </div>
    <div
      v-if="isWorker && isWorkerActive"
      align="center"
      class="col-xl-12 col-lg-12 col-md-12"
    >
      {{ appUser.nom }}
      <p-button type="info" v-show="!onScan" @click.native.prevent="scanner()">
        <i class="ti-plus"></i> Scanner le QR Code
      </p-button>
      <p-button type="danger" v-show="onScan" @click.native.prevent="onScan = !onScan">
        Annuler
      </p-button>
    </div>
    <div v-if="onScan" align="center" class="col-xl-12 col-lg-12 col-md-12">
      <h3>Veuillez Scanner le QR Code de l'Adherant</h3>
    </div>
    <div
      v-if="onScan"
      class="col-xl-12 col-lg-12 col-md-12 d-flex justify-content-center"
    >
      <qrcode-stream @decode="onDecode" id="im"></qrcode-stream>
    </div>
    <div
      v-if="onScanFinish"
      class="col-xl-12 col-lg-12 col-md-12 d-flex justify-content-center"
    >
      <services-card
        :title="'Liste des services de ' + adherant.nom"
        :services="adherant.services"
        :forfaits="adherant.forfaits"
        :adherant="adherant"
      >
      </services-card>
    </div>
    <Modal
      v-if="!hasAdher && isAdher"
      :based-on="showModal"
      @close="
        showModal = false;
        reset();
      "
      title="Edition Adhérant"
    >
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputNom">Nom</label>
              <input
                type="text"
                class="form-control"
                id="inputNom"
                v-model="adherant.nom"
                placeholder="Nom"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputPrenom">Prénom</label>
              <input
                type="text"
                class="form-control"
                id="inputPrenom"
                v-model="adherant.prenom"
                placeholder="Prénom"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputDate">Date Naissance</label>
              <input
                type="date"
                class="form-control"
                id="inputDate"
                v-model="adherant.date_nais"
                placeholder="Date Naissance"
              />
            </div>

            <div class="form-group col-md-6">
              <label for="inputGenre">Genre</label>
              <select v-model="adherant.genre" class="custom-select" id="inputType">
                <option selected>Choose...</option>
                <option value="Homme">Homme</option>
                <option value="Femme">Femme</option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <label for="inputEmail">Email</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail"
                v-model="adherant.email"
                placeholder="example.com"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputTel">Téléphone</label>
              <input
                type="text"
                class="form-control"
                id="inputTel"
                v-model="adherant.contact"
                placeholder="Téléphone"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          @click="
            showModal = false;
            reset();
          "
          type="button"
          class="btn btn-secondary float-left"
          data-dismiss="modal"
        >
          Fermer
        </button>
        <button v-if="!editMode" @click="create()" type="button" class="btn btn-primary">
          Enregistrer
        </button>
      </div>
    </Modal>
    <div v-if="!hasAdher && isAdher" align="center" class="col-xl-12 col-lg-12 col-md-12">
      <h3>Bienvenue veuillez terminer votre enregistrement</h3>
      <p-button
        type="info"
        data-toggle="modal"
        data-target="#editForfait"
        @click.native.prevent="showModal = !showModal"
      >
        <i class="ti-plus"></i> Générer votre QR Code
      </p-button>
    </div>
    <div
      v-if="hasAdher && isAdher && !isAdherActive"
      align="center"
      class="col-xl-12 col-lg-12 col-md-12"
    >
      <h3>
        Veuillez vous rapprochez de la secretaire pour l'activation de votre compte!
        <!-- {{ hasAdher && isAdher && isAdherActive }}
        {{ hasAdher && isAdher && isAdherActive }} -->
      </h3>
    </div>
    <div v-if="hasAdher && isAdher && isAdherActive" class="col-xl-8 col-lg-7 col-md-6">
      <user-card> </user-card>
      <services-card
        v-if="adherantU"
        title="Liste des services"
        :adherant="adherantU"
        :services="adherantU.services"
        :forfaits="adherantU.forfaits"
      >
      </services-card>
    </div>
    <div v-if="hasAdher && isAdher && isAdherActive" class="col-xl-4 col-lg-5 col-md-6">
      <edit-profile-form> </edit-profile-form>
    </div>
  </div>
</template>
<script>
import EditProfileForm from "./Accueil/EditProfileForm.vue";
import UserCard from "./Accueil/UserCard.vue";
import ServicesCard from "./Accueil/ServicesCard.vue";
import { mapGetters, mapActions, mapMutations } from "vuex";
export default {
  components: {
    EditProfileForm,
    UserCard,
    ServicesCard,
  },
  data() {
    return {
      showModal: false,
      editMode: false,
      onScan: false,
      onScanFinish: false,
    };
  },
  mounted() {
    this.adherant.nom = this.appUser.name;
    this.adherant.email = this.appUser.email;
  },
  computed: {
    ...mapGetters({
      isAdher: "isAdher",
      hasAdher: "hasAdher",
      isWorker: "isWorker",
      isAdherActive: "isAdherActive",
      isWorkerActive: "isWorkerActive",
      noRole: "noRole",
      appUser: "getAppUser",
      adherantById: "adherantById",
      user: "user",
      adherant: "adherant",
    }),
    adherantU() {
      return this.adherantById(this.appUser.adherant_id);
    },
  },
  methods: {
    ...mapActions([
      "getAllAdherants",
      "getAdherant",
      "createAdherant",
      "updateAdherant",
      "updateUser",
    ]),
    ...mapMutations(["SELECT_ADHERANT", "UPDATE_USER"]),
    edit(ev) {
      this.SELECT_ADHERANT(ev);
      this.editMode = true;
      this.showModal = true;
      // window.alert(JSON.stringify(ev));
    },
    reset() {
      this.$store.commit("SELECT_ADHERANT", {});
      this.adherant.nom = this.appUser.name;
      this.adherant.email = this.appUser.email;
    },
    create() {
      this.createAdherant(this.adherant)
        .catch(() => {})
        .then(() => {
          this.showModal = false;
          this.updateU(this.adherant.id);
          this.reset();
        });
    },
    updateU(adherant_id) {
      this.appUser.adherant_id = adherant_id;
      this.updateUser({ id: this.appUser.id, data: this.appUser })
        .catch(() => {})
        .then(() => {
          this.UPDATE_USER(this.user);
        });
    },
    onDecode(decodedString) {
      let result = JSON.parse(decodedString);
      this.getAdherant(result.id)
        .catch(() => {})
        .then(() => {
          this.onScanFinish = true;
          this.onScan = false;
        });
    },
    scanner() {
      this.onScan = !this.onScan;
      if (this.onScanFinish) this.onScanFinish = !this.onScanFinish;
    },
  },
};
</script>
<style></style>
