<template>
  <div class="row">
    <Modal
      :based-on="showModal"
      @close="
        showModal = false;
        reset();
      "
      title="Edition Adhérant"
      id="gyy"
    >
      <form @submit.prevent="create()">
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputNom">Nom</label>
              <input
                type="text"
                class="form-control"
                id="inputNom"
                v-model="adherant.nom"
                placeholder="Nom"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputPrenom">Prénom</label>
              <input
                type="text"
                class="form-control"
                id="inputPrenom"
                v-model="adherant.prenom"
                placeholder="Prénom"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputDate">Date Naissance</label>
              <input
                type="date"
                class="form-control"
                id="inputDate"
                v-model="adherant.date_nais"
                placeholder="Date Naissance"
              />
            </div>

            <div class="form-group col-md-6">
              <label for="inputGenre">Genre</label>
              <select v-model="adherant.genre" class="custom-select" id="inputType">
                <option selected>Choose...</option>
                <option value="Homme">Homme</option>
                <option value="Femme">Femme</option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <label for="inputEmail">Email</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail"
                v-model="adherant.email"
                placeholder="example.com"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputTel">Téléphone</label>
              <input
                type="text"
                class="form-control"
                id="inputTel"
                v-model="adherant.contact"
                placeholder="Téléphone"
              />
            </div>
            <div class="form-group col-md-6"></div>

            <div class="form-group col-md-6">
              <vue-avatar
                :width="150"
                :height="150"
                :rotation="rotation"
                :borderRadius="borderRadius"
                :scale="scale"
                ref="vueavatar"
                @vue-avatar-editor:image-ready="onImageReady"
              >
              </vue-avatar>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPic">Photo</label>
              <avatar
                id="inputPic"
                ref="image"
                :src="adherant.avatar"
                :username="adherant.nom + ' ' + adherant.prenom"
              ></avatar>
              <label>
                Zoom : {{ scale }}x
                <br />
                <input type="range" min="1" max="3" step="0.02" v-model="scale" />
              </label>
              <br />
              <label>
                Rotation : {{ rotation }}°
                <br />
                <input type="range" min="0" max="360" step="1" v-model="rotation" />
              </label>
              <br />
              <label>
                Radius : {{ borderRadius }}px
                <br />
                <input type="range" min="0" max="75" step="1" v-model="borderRadius" />
              </label>
              <br />
              <!-- <button v-on:click="saveClicked">Save</button> -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            @click="
              showModal = false;
              reset();
            "
            type="button"
            class="btn btn-secondary float-left"
            data-dismiss="modal"
          >
            Fermer
          </button>
          <button
            v-if="editMode && adherant.actif == 0"
            @click="active(1)"
            type="button"
            class="btn btn-success"
          >
            Activer
          </button>
          <button
            v-if="editMode && adherant.actif == 1"
            @click="active(0)"
            type="button"
            class="btn btn-dark"
          >
            Désactiver
          </button>
          <button v-if="!editMode" type="submit" class="btn btn-primary">
            Enregistrer
          </button>
          <button v-if="editMode" @click="deleteI()" type="button" class="btn btn-danger">
            Supprimer
          </button>
          <button v-if="editMode" @click="updateI()" type="button" class="btn btn-info">
            Mettre à jour
          </button>
          <button
            v-if="editMode"
            @click="downloadQR()"
            type="button"
            class="btn btn-info"
          >
            <i class="ti ti-import"></i> QR Code
          </button>
          <a target="_blank" rel="noopener noreferrer"></a>
          <a
            type="button"
            class="btn btn-info"
            v-if="adherant.avatar"
            :href="adherant.avatar"
            target="_blank"
            rel="noopener noreferrer"
            :download="'USER_AVATAR_' + adherant.nom + '_' + adherant.prenom"
            ><i class="ti ti-download"></i> AVATAR</a
          >
          <a v-show="false" id="qrlink"> </a>
        </div>
      </form>
    </Modal>

    <div class="col-12">
      <div class="form-row">
        <div class="form-group col-md-7 float-left">
          <pl-searchbar :list="adherants" :table_name="'adherant'" @send-data="receive" />
        </div>

        <div class="form-group col-md-3 float-right">
          <p-button
            class="float-right"
            type="info"
            v-show="!onScan"
            @click.native.prevent="scanner()"
          >
            <i class="ti-plus"></i> Scanner
            <!-- le QR Code -->
          </p-button>
          <p-button
            class="float-right"
            type="danger"
            v-show="onScan"
            @click.native.prevent="onScan = !onScan"
          >
            Annuler
          </p-button>
        </div>
        <div class="form-group col-md-2 float-right">
          <p-button
            class="float-right"
            type="info"
            data-toggle="modal"
            data-target="#editForfait"
            @click.native.prevent="addAdh()"
          >
            <i class="ti-plus"></i> Nouveau
          </p-button>
        </div>
      </div>
      <div v-if="onScan" align="center" class="col-xl-12 col-lg-12 col-md-12">
        <h3>Veuillez Scanner le QR Code de l'Adherant</h3>
      </div>
      <div
        v-if="onScan"
        class="col-xl-12 col-lg-12 col-md-12 d-flex justify-content-center"
      >
        <qrcode-stream @decode="onDecode" id="im"></qrcode-stream>
      </div>
      <div
        v-if="onScanFinish"
        class="col-xl-12 col-lg-12 col-md-12 d-flex justify-content-center"
      >
        <services-card
          :title="'Liste des services de ' + adherant.nom"
          :services="adherant.services"
          :forfaits="adherant.forfaits"
          :adherant="adherant"
        >
        </services-card>
      </div>
    </div>
    <div class="col-12">
      <card :title="table1.title" :subTitle="table1.subTitle">
        <div slot="raw-content" class="table-responsive">
          <paper-table
            @line-selected="edit($event)"
            :data="dataSearchAdherant"
            :columns="table1.columns"
          >
          </paper-table>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import QRious from "qrious";
import ServicesCard from "./Accueil/ServicesCard.vue";
import { PaperTable } from "@/components";
import PlSearchbar from "../components/pl-searchbar.vue";

import { VueAvatar } from "vue-avatar-editor-improved";
import Avatar from "vue-avatar";

const tableColumns = [/* "Id",  */ "Nom", "Prenom", "Genre", "Contact", "Age"];

export default {
  components: {
    PaperTable,
    PlSearchbar,
    ServicesCard,
    VueAvatar,
    Avatar,
  },
  data() {
    return {
      onScan: false,
      onScanFinish: false,
      rotation: 0,
      scale: 0,
      borderRadius: 0,
      showModal: false,
      avaSelected: false,
      qrcode: new QRious({ size: 250 }),
      editMode: false,
      table1: {
        title: "Table Adhérents",
        subTitle: "Liste des adhérents",
        columns: [...tableColumns],
      },
    };
  },
  computed: {
    ...mapGetters({
      dataSearchAdherant: "dataSearchAdherant",
      adherants: "adherants",
      adherant: "adherant",
      appUser: "getAppUser",
      selected: "getSelectedAdherant",
    }),
    newQRCode() {
      this.qrcode.value = this.text;
      return this.qrcode.toDataURL();
    },
    text() {
      return JSON.stringify({ id: this.adherant.id, nom: this.adherant.nom });
    },
  },
  methods: {
    ...mapActions([
      "getAllAdherants",
      "getAdherant",
      "createAdherant",
      "updateAdherant",
      "deleteAdherant",
    ]),
    onDecode(decodedString) {
      let result = JSON.parse(decodedString);
      this.getAdherant(result.id)
        .catch(() => {})
        .then(() => {
          this.onScanFinish = true;
          this.onScan = false;
        });
    },
    ...mapMutations(["SELECT_ADHERANT"]),
    edit(ev) {
      this.SELECT_ADHERANT(ev);
      if (this.onScanFinish) this.onScanFinish = !this.onScanFinish;
      if (this.onScan) this.onScan = !this.onScan;
      this.editMode = true;
      this.showModal = true;
      // window.alert(JSON.stringify(ev));
    },
    addAdh() {
      console.log("Add Adh");
      if (this.onScanFinish) {
        this.onScanFinish = !this.onScanFinish;
        this.$store.commit("SELECT_ADHERANT", {});
      }
      if (this.onScan) this.onScan = !this.onScan;
      this.showModal = !this.showModal;
    },
    reset() {
      this.editMode = false;
      this.$store.commit("SELECT_ADHERANT", {});
    },
    saveClicked: function saveClicked() {
      var img = this.$refs.vueavatar.getImageScaled();
      // this.$refs.image.src = img.toDataURL();
      // console.log(img.toDataURL());
      if (this.avaSelected) {
        this.adherant.photo = img.toDataURL();
        this.avaSelected = false;
      }
    },
    onImageReady: function onImageReady() {
      this.avaSelected = true;
      console.log("ready");
      this.scale = 1;
      this.rotation = 0;
      this.borderRadius = 0;
    },
    create() {
      this.saveClicked();
      this.createAdherant(this.adherant)
        .catch((e) => {
          console.log(JSON.stringify(e.response));
          if (e.response.status >= 500) {
            this.notifyVue(
              "bottom",
              "right",
              "danger",
              "Oups vous avez oubliez un ou plusieurs champs",
              "ti-error"
            );
          }
        })
        .then(() => {
          this.showModal = false;
          this.reset();
        });
    },
    notifyVue(verticalAlign, horizontalAlign, color, msg, icon) {
      this.$notify({
        // component: NotificationTemplate,
        message: msg,
        icon: icon,
        horizontalAlign: horizontalAlign,
        verticalAlign: verticalAlign,
        type: color /* success, primary, info, warning, danger */,
      });
    },
    updateI() {
      this.saveClicked();
      this.updateAdherant({ id: this.adherant.id, data: this.adherant })
        .catch(() => {})
        .then(() => {
          this.showModal = false;
          this.reset();
        });
    },
    deleteI() {
      this.deleteAdherant(this.adherant.id)
        .catch(() => {})
        .then(() => {
          this.$store.commit("UPDATE_SEARCH_RESULT_ADHERANT", this.adherants);
          this.showModal = false;
          this.reset();
        });
    },
    active(status) {
      this.adherant.actif = status;
      this.updateI();
    },

    receive(data) {
      this.$store.commit("UPDATE_SEARCH_RESULT_ADHERANT", data);
    },
    downloadQR() {
      let img = document.getElementById("qrlink");
      let filename = "QR_Code_ID_" + this.adherant.id + "_" + this.adherant.nom;
      console.log(this.newQRCode);
      img.href = this.newQRCode;
      img.setAttribute("download", filename);
      img.click();
      // this.addQRInImage(img, this.newQRCode(), filename);
    },
    addQRInImage(node, dataurl, filename) {
      node.href = dataurl;
      node.setAttribute("download", filename);
      node.click();
    },
    scanner() {
      this.onScan = !this.onScan;
      if (this.onScanFinish) this.onScanFinish = !this.onScanFinish;
    },
  },
  mounted() {
    this.getAllAdherants();
  },
};
</script>
<style></style>
