<template>
  <div class="row">
    <div class="col-md-6 mx-auto p-0">
      <div class="card">
        <div class="login-box">
          <div class="login-snip">
            <input
              id="tab-1"
              type="radio"
              name="tab"
              class="sign-in"
              :checked="loginOrRegister"
            /><label for="tab-1" class="tab">Login</label>
            <input
              id="tab-2"
              type="radio"
              name="tab"
              class="sign-up"
              :checked="!loginOrRegister"
            /><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-space">
              <div class="login">
                <div class="group">
                  <label for="user" class="label">Email</label>
                  <input
                    id="user"
                    v-model="user.email"
                    type="text"
                    class="input"
                    placeholder="Enter your email number"
                  />
                </div>
                <div class="group">
                  <label for="pass" class="label">Password</label>
                  <input
                    id="pass"
                    v-model="user.password"
                    type="password"
                    class="input"
                    data-type="password"
                    placeholder="Enter your password"
                  />
                </div>
                <!-- <div class="group">
                  <input id="check" type="checkbox" class="check" checked />
                  <label for="check"><span class="icon"></span> Keep me Signed in</label>
                </div> -->
                <div class="group">
                  <input @click="login" type="submit" class="button" value="Sign In" />
                </div>
                <div class="hr"></div>
                <div class="foot"><a href="#">Forgot Password?</a></div>
              </div>
              <div class="sign-up-form">
                <div class="group">
                  <label for="email" class="label">Email Address number</label>
                  <input
                    id="email"
                    v-model="user.email"
                    type="text"
                    class="input"
                    placeholder="Enter your email address number"
                  />
                </div>
                <div class="group">
                  <label for="username" class="label">Name</label>
                  <input
                    id="user"
                    v-model="user.name"
                    type="text"
                    class="input"
                    placeholder="Enter your Name"
                  />
                </div>
                <div class="group">
                  <label for="pass" class="label">Password</label>
                  <input
                    id="pass"
                    v-model="user.password"
                    type="password"
                    class="input"
                    data-type="password"
                    placeholder="Create your password"
                  />
                </div>
                <div class="group">
                  <label for="pass" class="label">Repeat Password</label>
                  <input
                    id="pass"
                    v-model="user.password_confirmation"
                    type="password"
                    class="input"
                    data-type="password"
                    placeholder="Repeat your password"
                  />
                </div>
                <div class="group">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input
                      type="radio"
                      id="ad"
                      name="isAdherent"
                      @change="changeRole($event)"
                      class="custom-control-input"
                      checked
                    />
                    <label class="custom-control-label" for="ad">Adhérent</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input
                      type="radio"
                      id="em"
                      name="isAdherent"
                      @change="changeRole($event)"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="em">Employés</label>
                  </div>
                </div>
                <div class="group">
                  <input @click="register" type="submit" class="button" value="Sign Up" />
                </div>
                <div class="hr"></div>
                <div class="foot"><label for="tab-1">Already Member?</label></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import NotificationTemplate from "./Notifications/NotificationTemplate";

export default {
  name: "Auth",
  data() {
    return {
      user: { email: "", password: "", role_id: 4 },
      isworking: false,
      loginOrRegister: true,
    };
  },
  computed: {
    ...mapGetters({
      appUser: "getAppUser",
    }),
  },
  methods: {
    changeRole(ev) {
      console.log(this.user);
      if (this.user.role_id == 4) this.user.role_id = 3;
      else if (this.user.role_id == 3) this.user.role_id = 4;
    },
    login() {
      this.isworking = true;
      this.$store
        .dispatch("login", this.user)
        .then((res) => {
          if (this.appUser.role_id == 1 || this.appUser.role_id == 2)
            this.$router.push("ventes");
          else if (this.appUser.role_id == 5) this.$router.push("medical");
          else if (this.appUser.role_id == 4 || this.appUser.role_id == 3)
            this.$router.push("accueil");
          this.notifyVue("bottom", "right", "info", "Login success !", "ti-check");
        })
        .catch((e) => {
          console.log(JSON.stringify(e.response));
          if (e.response.status >= 401) {
            Object.values(e.response.data).forEach((val) => {
              this.notifyVue("bottom", "right", "danger", val, "ti-error");
            });
          }
        });
    },
    register() {
      this.$store
        .dispatch("register", this.user)
        .then(() => {
          this.notifyVue(
            "bottom",
            "right",
            "success",
            "Registration success !",
            "ti-check"
          );
        })
        .catch((e) => {
          console.log(JSON.stringify(e.response));
          if (e.response.status >= 401) {
            Object.values(e.response.data).forEach((val) => {
              this.notifyVue("bottom", "right", "danger", val, "ti-error");
            });
          }
        })
        .then(() => {
          this.loginOrRegister = true;
        });
    },
    notifyVue(verticalAlign, horizontalAlign, color, msg, icon) {
      this.$notify({
        // component: NotificationTemplate,
        message: msg,
        icon: icon,
        horizontalAlign: horizontalAlign,
        verticalAlign: verticalAlign,
        type: color /* success, primary, info, warning, danger */,
      });
    },
  },
};
</script>

<style scoped>
#app {
  margin: 0;
  color: #6a6f8c;
  background: #c8c8c8;
  font: 600 16px/18px "Open Sans", sans-serif;
}

.login-box {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 670px;
  position: relative;
  background: url(https://images.unsplash.com/photo-1507208773393-40d9fc670acf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80)
    no-repeat center;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.login-snip {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: rgba(0, 77, 77, 0.9);
}

.login-snip .login,
.login-snip .sign-up-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
  display: none;
}

.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
  text-transform: uppercase;
}

.login-snip .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.login-snip .sign-in:checked + .tab,
.login-snip .sign-up:checked + .tab {
  color: #fff;
  border-color: #1161ee;
}

.login-space {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.login-space .group {
  margin-bottom: 15px;
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
  width: 100%;
  color: #fff;
  display: block;
}

.login-space .group .input,
.login-space .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
}

.login-space .group input[data-type="password"] {
  /* text-security: circle; */
  -webkit-text-security: circle;
}

.login-space .group .label {
  color: #aaa;
  font-size: 12px;
}

.login-space .group .button {
  background: #1161ee;
}

.login-space .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}

.login-space .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}

.login-space .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}

.login-space .group .check:checked + label {
  color: #fff;
}

.login-space .group .check:checked + label .icon {
  background: #1161ee;
}

.login-space .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}

.login-space .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}

.login-snip .sign-in:checked + .tab + .sign-up + .tab + .login-space .login {
  transform: rotate(0);
}

.login-snip .sign-up:checked + .tab + .login-space .sign-up-form {
  transform: rotate(0);
}

*,
:after,
:before {
  box-sizing: border-box;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}

.foot {
  text-align: center;
}

.card {
  width: 500px;
  left: 100px;
}

::placeholder {
  color: #b3b3b3;
}
</style>
