<template>
  <div class="row">
    <Modal
      :based-on="showModal"
      @close="
        showModal = false;
        reset();
      "
      title="Edition Personnel"
    >
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputNom">Nom</label>
              <input
                type="text"
                class="form-control"
                id="inputNom"
                v-model="user.name"
                placeholder="Nom"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputPrenom">Prénom</label>
              <input
                type="text"
                class="form-control"
                id="inputPrenom"
                v-model="user.subname"
                placeholder="Prénom"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputContact">contact</label>
              <input
                type="text"
                class="form-control"
                id="inputDate"
                v-model="user.phone"
                placeholder="contact"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail">Email</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail"
                v-model="user.email"
                placeholder="example.com"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword">Mot de passe</label>
              <input
                type="text"
                class="form-control"
                id="inputPassword"
                v-model="user.password"
                placeholder="Mot de passe"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputPrix">Role</label>
              <model-list-select
                :list="roles"
                option-value="id"
                option-text="nom"
                placeholder="Select role"
                v-model="user.role_id"
              ></model-list-select>
              <!-- <select v-model="user.role_id" class="custom-select" id="inputRole">
                <option selected>Choose...</option>
                <option v-for="r in roles" :key="r.index" :value="r.id">
                  {{ r.nom }}
                </option>
              </select> -->
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          @click="
            showModal = false;
            reset();
          "
          type="button"
          class="btn btn-secondary float-left"
          data-dismiss="modal"
        >
          Fermer
        </button>

        <button
          v-if="editMode && user.actif == 0"
          @click="active(1)"
          type="button"
          class="btn btn-success"
        >
          Activer
        </button>
        <button
          v-if="editMode && user.actif == 1"
          @click="active(0)"
          type="button"
          class="btn btn-dark"
        >
          Désactiver
        </button>

        <button v-if="!editMode" @click="create()" type="button" class="btn btn-primary">
          Enregistrer
        </button>
        <button v-if="editMode" @click="deleteI()" type="button" class="btn btn-danger">
          Supprimer
        </button>
        <button v-if="editMode" @click="updateI()" type="button" class="btn btn-info">
          Mettre à jour
        </button>
      </div>
    </Modal>

    <div class="col-12">
      <div class="form-row">
        <div class="form-group col-md-8 float-left">
          <pl-searchbar :list="workers" :table_name="'user'" @send-data="receive" />
        </div>
        <div class="form-group col-md-4 float-right">
          <p-button
            class="float-right"
            type="info"
            data-toggle="modal"
            data-target="#editForfait"
            @click.native.prevent="showModal = !showModal"
          >
            <i class="ti-plus"></i> Nouveau
          </p-button>
        </div>
      </div>
      <br />
    </div>
    <div class="col-12">
      <card :title="table1.title" :subTitle="table1.subTitle">
        <div slot="raw-content" class="table-responsive">
          <paper-table
            @line-selected="edit($event)"
            :data="dataSearchWorker"
            :columns="table1.columns"
          >
          </paper-table>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import { PaperTable } from "@/components";
import PlSearchbar from "../components/pl-searchbar.vue";
const tableColumns = [/* "Id",  */ "Name", "Subname", "Phone", "Email" /* , "Role" */];

export default {
  components: {
    PaperTable,
    PlSearchbar,
  },
  data() {
    return {
      editMode: false,
      showModal: false,
      table1: {
        title: "Table Personnel",
        subTitle: "Liste du personnel",
        columns: [...tableColumns],
      },
    };
  },
  computed: {
    ...mapGetters({
      dataSearchUser: "dataSearchUser",
      dataSearchWorker: "dataSearchWorker",
      users: "users",
      workers: "workers",
      user: "user",
      roles: "roles",
      selected: "getSelectedUser",
    }),
  },
  methods: {
    ...mapActions([
      "getAllUsers",
      "getAllRoles",
      "createUser",
      "updateUser",
      "deleteUser",
    ]),
    ...mapMutations(["SELECT_USER"]),
    edit(ev) {
      this.SELECT_USER(ev);
      this.editMode = true;
      this.showModal = true;
      // window.alert(JSON.stringify(ev));
    },
    reset() {
      this.$store.commit("SELECT_USER", {});
      this.editMode = false;
    },
    create() {
      if (!!this.user.password) this.user.password_confirmation = this.user.password;
      this.createUser(this.user)
        .catch(() => {})
        .then(() => {
          this.showModal = false;
          this.reset();
        });
    },
    updateI() {
      this.updateUser({ id: this.user.id, data: this.user })
        .catch(() => {})
        .then(() => {
          this.showModal = false;
          this.reset();
        });
    },
    deleteI() {
      this.deleteUser(this.user.id)
        .catch(() => {})
        .then(() => {
          this.$store.commit("UPDATE_SEARCH_RESULT_EMPLOYE", this.employes);
          this.showModal = false;
          this.reset();
        });
    },
    active(status) {
      this.user.actif = status;
      this.updateI();
    },
    receive(data) {
      this.$store.commit("UPDATE_SEARCH_RESULT_USER", data);
    },
  },
  mounted() {
    this.getAllUsers();
    this.getAllRoles();
  },
};
</script>
<style></style>
