<template>
  <div>
    <div v-if="!vente">
      <p align="center">Code vente Inconnu ou incorrect !</p>
    </div>
    <div v-if="vente" class="row" id="facture">
      <div class="col-12">
        <div class="form-row">
          <div class="form-group col-md-8">
            <p v-if="vente.adherant" class="float-left">
              Facturé à Mr/Mme {{ vente.adherant.nom }}
              <span v-if="vente.adherant.prenom">{{ vente.adherant.prenom }} </span>
              <br />
              Reference : {{ vente.code }}
            </p>
          </div>
          <div class="form-group col-md-4">
            <p class="float-right">
              Yaoundé le {{ moment(vente.created_at).format("Do MMM YYYY à HH:mm") }}
            </p>
          </div>
        </div>
        <br />
      </div>

      <div class="col-12">
        <card :title="table1.title" :subTitleHtml="table1.subTitleHtml">
          <div slot="raw-content" class="table-responsive">
            <paper-table :columns="table1.columns" :data="products"> </paper-table>
          </div>
        </card>
        <card>
          <div class="col-12">
            <p class="float-left">Merci pour votre confiance !</p>
            <p class="float-right">
              <span style="font-weight: bold"> Total : </span>{{ vente.prix | fcfa }}
              <span v-if="vente.mode">({{ vente.mode.nom }})</span>
            </p>
          </div>
        </card>
      </div>
    </div>
    <!-- <div class="col-12">
      <vue-json-pretty :data="{ code_vente: $route.params.code }"></vue-json-pretty>
      <vue-json-pretty :data="vente"></vue-json-pretty>
    </div> -->
    <div v-if="vente" class="row">
      <div class="col-12">
        <p-button
          @click.prevent.native="print()"
          class="float-right"
          type="info"
          data-toggle=""
          data-target=""
        >
          <i class="ti ti-printer"></i> Imprimer
        </p-button>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import PlSearchbar from "../components/pl-searchbar.vue";
import { PaperTable } from "@/components";
import StepIndicator from "vue-step-indicator";
import Card from "../components/Cards/Card.vue";
const tableColumns = [/* "Id",  */ "Designation", "Quantite", "PU", "PT"];

export default {
  components: {
    PaperTable,
    StepIndicator,
    PlSearchbar,
    Card,
  },
  data() {
    return {
      showModal: false,
      AdhFilter: -1,
      currentTab: 0,
      VenFilter: -1,
      editMode: false,
      table1: {
        title: "Complexe Immo Fitness Club",
        subTitleHtml:
          "NIU: PO47714405457B <br /> Yaoundé derrière hôpital gynéco entrée MAETUR <br /> Ngousso Rue des Pavés <br /> Contacts : (+237) 680 58 34 09/698 76 40 72",
        columns: [...tableColumns],
      },
    };
  },
  computed: {
    ...mapGetters({
      venteByCode: "venteByCode",
    }),
    vente() {
      return this.venteByCode(this.$route.params.code);
    },
    products() {
      let products = [];
      this.vente.forfaits.forEach((f) => {
        let forfait = {
          designation: f.nom,
          quantite: 1,
          pu: f.prix + " FCFA",
          pt: f.prix + " FCFA",
        };
        products.push(forfait);
      });
      this.vente.services.forEach((s) => {
        console.log(s.pivot.nombre);
        let service = {
          designation: s.nom,
          quantite: s.pivot.nombre,
          pu: s.prix + " FCFA",
          pt: Number(s.prix) * Number(s.pivot.nombre) + " FCFA",
        };
        products.push(service);
      });
      return products;
    },
  },
  mounted() {},
  methods: {
    ...mapActions(["getAllVentes"]),
    ...mapMutations(["SELECT_VENTE"]),
    async print() {
      // Pass the element id here
      // await this.$VueHtmlToPaper("facture");
      var content = document.getElementById("facture");
      var WinPrint = window.open(
        "",
        "",
        "left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0"
      );
      WinPrint.document.write("<html><head>");
      WinPrint.document.write(
        '<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">'
      );
      WinPrint.document.write('</head><body onload="print();">');
      WinPrint.document.write(content.innerHTML);
      WinPrint.document.write("</body></html>");
      WinPrint.document.close();
      WinPrint.focus();
      // WinPrint.close();
    },
  },
  mounted() {
    this.getAllVentes();
  },
};
</script>

<style scoped></style>
