<template>
  <div class="row">
    <Modal
      :based-on="showModal"
      @close="
        showModal = false;
        reset();
      "
      title="Edition Forfait"
    >
      <form @submit.prevent="create()">
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputNom">Nom du pack</label>
              <input
                v-model="forfait.nom"
                type="text"
                class="form-control"
                id="inputNom"
                placeholder="Nom du pack"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputType">Type</label>

              <model-list-select
                :list="typefs"
                option-value="id"
                option-text="libelle"
                placeholder="Select type forfait"
                v-model="forfait.typef_id"
              ></model-list-select>
              <!-- <select
                v-model="forfait.typef_id"
                class="custom-select"
                id="inputType"
                required
              >
                <option selected>Choose...</option>
                <option v-for="t in typefs" :key="t.index" :value="t.id">
                  {{ t.libelle }}
                </option>
              </select> -->
            </div>
            <div class="form-group col-md-6">
              <label for="inputDuree">Durée (Jours)</label>
              <input
                v-model="forfait.duree"
                type="number"
                class="form-control"
                id="inputDuree"
                placeholder="Durée (Jours)"
                required
              />
            </div>
            <div class="form-group col-md-8">
              <label for="inputPrix">Prix</label>
              <input
                v-model="forfait.prix"
                type="number"
                class="form-control"
                id="inputPrix"
                placeholder="Prix (FCFA)"
                required
              />
            </div>
            <div slot="raw-content" class="table-responsive">
              <table class="table">
                <thead>
                  <th>
                    <a class="nav-link">Liste des services</a>
                  </th>
                  <th>
                    <a class="nav-link">Unité</a>
                  </th>
                  <th>
                    <a class="nav-link button" @click="addService = !addService">
                      <!-- Forfait -->
                      <i
                        v-if="addService"
                        style="cursor: pointer; font-size: 20px"
                        class="ti-plus"
                      ></i>
                      <i
                        v-else
                        style="cursor: 0 pointer; font-size: 20px; color: red"
                        class="ti-close"
                      ></i>
                    </a>
                  </th>
                </thead>
                <tbody>
                  <tr v-if="!addService">
                    <td>
                      <model-list-select
                        :list="services"
                        option-value="id"
                        option-text="nom"
                        placeholder="Select service"
                        v-model="selectedS.id"
                      ></model-list-select>
                      <!-- <input list="inputType" v-model="selectedS.id" />
                      <datalist id="inputType">
                        <option value="-1" selected>Choose...</option>
                        <option v-for="s in services" :key="s.index" :value="s.id">
                          {{ s.nom }}
                        </option>
                      </datalist> -->
                    </td>
                    <td>
                      <input
                        v-model="selectedS.nombre"
                        type="number"
                        class="form-control"
                        placeholder="Nombre"
                      />
                    </td>
                    <td>
                      <a class="nav-link" @click="add()"
                        ><i
                          style="cursor: pointer; font-size: 20px; color: green"
                          class="ti-check"
                        ></i
                      ></a>
                    </td>
                  </tr>
                  <tr v-for="s in selectedServices" :key="s.index">
                    <td>{{ s.nom }}</td>
                    <td>{{ s.nombre }}</td>
                    <td @click="remove(s.id)">
                      <a class="nav-link"
                        ><i
                          style="cursor: pointer; font-size: 20px; color: red"
                          class="ti-trash"
                        ></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            @click="
              showModal = false;
              reset();
            "
            type="button"
            class="btn btn-secondary float-left"
            data-dismiss="modal"
          >
            Fermer
          </button>
          <button v-if="!editMode" type="submit" class="btn btn-primary">
            Enregistrer
          </button>
          <button v-if="editMode" @click="deleteI()" type="button" class="btn btn-danger">
            Supprimer
          </button>
          <button v-if="editMode" @click="updateI()" type="button" class="btn btn-info">
            Mettre à jour
          </button>
        </div>
      </form>
    </Modal>

    <div class="col-12">
      <div class="form-row">
        <div class="form-group col-md-8 float-left">
          <pl-searchbar :list="forfaits" :table_name="'forfait'" @send-data="receive" />
        </div>
        <div class="form-group col-md-4 float-right">
          <p-button
            @line-selected="edit($event)"
            class="float-right"
            type="info"
            data-toggle="modal"
            data-target="#editForfait"
            @click.native.prevent="showModal = !showModal"
          >
            <i class="ti-plus"></i> Nouveau
          </p-button>
        </div>
      </div>
      <br />
    </div>
    <div class="col-12">
      <card :title="table1.title" :subTitle="table1.subTitle">
        <div slot="raw-content" class="table-responsive">
          <paper-table
            @line-selected="edit($event)"
            :data="dataSearchForfait"
            :columns="table1.columns"
          >
          </paper-table>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import { PaperTable } from "@/components";
import PlSearchbar from "../components/pl-searchbar.vue";
import EditForfait from "./ForfaitList/EditForfait.vue";

const tableColumns = [/* "Id",  */ "Nom", "Type", "Duree", "Prix"];

export default {
  components: {
    PaperTable,
    EditForfait,
    PlSearchbar,
  },
  data() {
    return {
      showModal: false,
      editMode: false,
      table1: {
        title: "Table Forfaits",
        subTitle: "Liste des forfaits",
        columns: [...tableColumns],
      },
      addService: true,
      selectedServices: [],
      selectedS: { nombre: 1, id: 1 },
    };
  },
  computed: {
    ...mapGetters({
      dataSearchForfait: "dataSearchForfait",
      serviceById: "serviceById",
      forfaits: "forfaits",
      typefs: "typefs",
      forfait: "forfait",
      services: "services",
      selected: "getSelectedForfait",
    }),
    selectedService() {
      return this.serviceById(this.selectedS.id);
    },
  },
  methods: {
    ...mapActions([
      "getAllForfaits",
      "getAllTypefs",
      "createForfait",
      "getAllServices",
      "updateForfait",
      "deleteForfait",
    ]),
    ...mapMutations(["SELECT_FORFAIT"]),
    edit(ev) {
      this.SELECT_FORFAIT(ev);
      this.editMode = true;
      this.showModal = true;
      this.selectedServices = ev.services.map((service) => {
        service["nombre"] = service.pivot.nombre;
        return service;
      });
      console.log(this.selectedServices);
      console.log(JSON.stringify(ev));
    },

    reset() {
      this.addService = true;
      this.editMode = false;
      this.selectedServices = [];
      this.$store.commit("SELECT_FORFAIT", {});
      this.selectedS = { nombre: 1, id: 1 };
    },
    create() {
      this.forfait.services = JSON.stringify(this.selectedServices);
      this.createForfait(this.forfait)
        .catch(() => {})
        .then(() => {
          this.showModal = false;
          this.reset();
        });
    },
    add() {
      this.addService = true;
      let s = {
        id: this.selectedS.id,
        nombre: this.selectedS.nombre,
        nom: this.selectedService.nom,
      };
      this.selectedServices.unshift(s);
      this.selectedS = { nombre: 1, id: 1 };
    },
    remove(service_id) {
      this.selectedServices = this.selectedServices.filter((s) => s.id != service_id);
    },
    updateI() {
      this.forfait.services = JSON.stringify(this.selectedServices);
      this.updateForfait({ id: this.forfait.id, data: this.forfait })
        .catch(() => {})
        .then(() => {
          this.showModal = false;
          this.reset();
        });
    },
    deleteI() {
      this.deleteForfait(this.forfait.id)
        .catch(() => {})
        .then(() => {
          this.$store.commit("UPDATE_SEARCH_RESULT_FORFAIT", this.forfaits);
          this.showModal = false;
          this.reset();
        });
    },
    receive(data) {
      this.$store.commit("UPDATE_SEARCH_RESULT_FORFAIT", data);
    },
  },
  mounted() {
    this.forfait.typef_id = 1;
    this.getAllForfaits();
    this.getAllServices();
    this.getAllTypefs();
  },
};
</script>
<style></style>
