<template>
  <div class="row">
    <Modal
      :based-on="showModal"
      @close="
        showModal = false;
        reset();
      "
      title="Formulaire médical"
    >
      <form @submit.prevent="buildQuestion()">
        <div class="modal-header">
          Infos : {{ adherant.nom }} {{ adherant.prenom }} ({{ adherant.genre }} de
          {{ adherant.date_nais | age }} ans) <br />
          Tel : {{ adherant.contact }} / Email : {{ adherant.email }}
        </div>
        <perfect-scrollbar class="scroll-area">
          <div class="modal-body">
            <!-- <div class="form-row">
              <div class="form-group col-8">
                <label for="inputNom">Nom</label>
                <input
                  type="text"
                  class="form-control"
                  readonly
                  id="inputNom"
                  v-model="adherant.nom"
                  placeholder="Nom"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label for="inputPrenom">Prénom</label>
                <input
                  type="text"
                  class="form-control"
                  readonly
                  id="inputPrenom"
                  v-model="adherant.prenom"
                  placeholder="Prénom"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="inputDate">Date Naissance</label>
                <input
                  type="date"
                  class="form-control"
                  readonly
                  id="inputDate"
                  v-model="adherant.date_nais"
                  placeholder="Date Naissance"
                />
              </div>

              <div class="form-group col-md-6">
                <label for="inputGenre">Genre</label>
                <select
                  v-model="adherant.genre"
                  class="custom-select form-control"
                  disabled
                  id="inputType"
                >
                  <option selected>Choose...</option>
                  <option value="Homme">Homme</option>
                  <option value="Femme">Femme</option>
                </select>
              </div>

              <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input
                  type="email"
                  class="form-control"
                  readonly
                  id="inputEmail"
                  v-model="adherant.email"
                  placeholder="example.com"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label for="inputTel">Téléphone</label>
                <input
                  type="text"
                  class="form-control"
                  readonly
                  id="inputTel"
                  v-model="adherant.contact"
                  placeholder="Téléphone"
                />
              </div>
            </div> -->
            <hr />
            <div class="form-row">
              <div class="form-group col-9">
                <label>Has anyone in your familly suffered from stroke ?</label>
              </div>
              <div class="form-group col-3">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="Oui"
                    v-model="medical.q1"
                    id="q1o"
                  />
                  <label class="form-check-label" for="q1o"> Yes </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="Non"
                    v-model="medical.q1"
                    id="q1n"
                  />
                  <label class="form-check-label" for="q1n"> No </label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-9">
                <label>Are you pregnant ?</label>
              </div>
              <div class="form-group col-3">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="Oui"
                    v-model="medical.q2"
                    id="q2o"
                  />
                  <label class="form-check-label" for="q2o"> Yes </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="Non"
                    v-model="medical.q2"
                    id="q2n"
                  />
                  <label class="form-check-label" for="q2n"> No </label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-9">
                <label>Have you given birth within the last 6 weeks ?</label>
              </div>
              <div class="form-group col-3">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="Oui"
                    v-model="medical.q3"
                    id="q3o"
                  />
                  <label class="form-check-label" for="q3o"> Yes </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="Non"
                    v-model="medical.q3"
                    id="q3n"
                  />
                  <label class="form-check-label" for="q3n"> No </label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-9">
                <label>Do you have any infectious disease?</label>
              </div>
              <div class="form-group col-3">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="Oui"
                    v-model="medical.q4"
                    id="q4o"
                  />
                  <label class="form-check-label" for="q4o"> Yes </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="Non"
                    v-model="medical.q4"
                    id="q4n"
                  />
                  <label class="form-check-label" for="q4n"> No </label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-9">
                <label>Were you injured or hospitalized lately ?</label>
              </div>
              <div class="form-group col-3">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="Oui"
                    v-model="medical.q5"
                    id="q5o"
                  />
                  <label class="form-check-label" for="q5o"> Yes </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="Non"
                    v-model="medical.q5"
                    id="q5n"
                  />
                  <label class="form-check-label" for="q5n"> No </label>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12">
                  <label>Are you or were you suffering from any of the following ?</label>
                </div>
                <div class="form-group col-12">
                  <div class="form-check form-check-inline col-5">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="DIABETES"
                      v-model="medical.q6"
                      id="q61"
                    />
                    <label class="form-check-label" for="q61"> DIABETES </label>
                  </div>
                  <div class="form-check form-check-inline col-5">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="ASTHMA"
                      v-model="medical.q6"
                      id="q62"
                    />
                    <label class="form-check-label" for="q62"> ASTHMA </label>
                  </div>
                  <div class="form-check form-check-inline col-5">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="HIGH BLOOD PRESSURE"
                      v-model="medical.q6"
                      id="q63"
                    />
                    <label class="form-check-label" for="q63">
                      HIGH BLOOD PRESSURE
                    </label>
                  </div>
                  <div class="form-check form-check-inline col-5">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="ARTHRITIS"
                      v-model="medical.q6"
                      id="q611"
                    />
                    <label class="form-check-label" for="q611"> ARTHRITIS </label>
                  </div>
                  <div class="form-check form-check-inline col-5">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="HEART DISEASES"
                      v-model="medical.q6"
                      id="q64"
                    />
                    <label class="form-check-label" for="q64"> HEART DISEASES </label>
                  </div>
                  <div class="form-check form-check-inline col-5">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="HERNIA"
                      v-model="medical.q6"
                      id="q65"
                    />
                    <label class="form-check-label" for="q65"> HERNIA </label>
                  </div>
                  <div class="form-check form-check-inline col-5">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="EPILEPSY"
                      v-model="medical.q6"
                      id="q67"
                    />
                    <label class="form-check-label" for="q67"> EPILEPSY </label>
                  </div>
                  <div class="form-check form-check-inline col-5">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="RHEUMATOID FEVER"
                      v-model="medical.q6"
                      id="q68"
                    />
                    <label class="form-check-label" for="q68"> RHEUMATOID FEVER </label>
                  </div>
                  <div class="form-check form-check-inline col-5">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="GASTRIC ULCERS"
                      v-model="medical.q6"
                      id="q69"
                    />
                    <label class="form-check-label" for="q69"> GASTRIC ULCERS </label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <label>What is your weight ?</label>
                </div>
                <div class="form-group col-6">
                  <input class="form-input" type="text" v-model="medical.w" id="qw" />
                </div>
              </div>
            </div>
          </div>
        </perfect-scrollbar>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">
            <i class="ti ti-save"></i> SAUVER
          </button>
        </div>
      </form>
    </Modal>

    <div class="col-12">
      <div class="form-row">
        <div class="form-group col-8 float-left">
          <pl-searchbar :list="adherants" @send-data="receive" />
        </div>

        <div class="form-group col-4 float-right"></div>
      </div>
    </div>
    <div class="col-12">
      <card :title="table.title" :subTitle="table.subTitle">
        <div slot="raw-content" class="table-responsive">
          <paper-table
            @line-selected="edit($event)"
            :data="adherantsWithStatus"
            :columns="table.columns"
          >
          </paper-table>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import QRious from "qrious";
import ServicesCard from "./Accueil/ServicesCard.vue";
import { PaperTable } from "@/components";
import PlSearchbar from "../components/pl-searchbar.vue";
const tableColumns = [/* "Id",  */ "Nom", "Prenom", "Genre", "Age", "Contact", "Statut"];

export default {
  components: {
    PaperTable,
    PlSearchbar,
    ServicesCard,
  },
  data() {
    return {
      onScan: false,
      onScanFinish: false,
      showModal: false,
      medical: { q1: false, q2: true, q3: true, q4: true, q5: true, w: 0, q6: [] },
      qrcode: new QRious({ size: 250 }),
      editMode: false,
      table: {
        title: "Table Patients",
        subTitle: "Liste des adhérents à consulter",
        columns: [...tableColumns],
      },
    };
  },
  computed: {
    ...mapGetters({
      dataSearchAdherant: "dataSearchAdherant",
      adherants: "adherants",
      adherant: "adherant",
      appUser: "getAppUser",
      selected: "getSelectedAdherant",
    }),
    newQRCode() {
      this.qrcode.value = this.text;
      return this.qrcode.toDataURL();
    },
    text() {
      return JSON.stringify({ id: this.adherant.id, nom: this.adherant.nom });
    },
    adherantsWithStatus() {
      console.log(this.dataSearchAdherant);

      return this.dataSearchAdherant.map((adh) => {
        if (JSON.parse(adh.medical)["status"]) {
          adh.statut = '<font color="green">Vérifié</font>';
        } else {
          adh.statut = '<font color="red">Inconnu</font>';
        }
        return adh;
      });
    },
  },
  methods: {
    ...mapActions([
      "getAllAdherants",
      "getAdherant",
      "createAdherant",
      "updateAdherant",
      "deleteAdherant",
    ]),
    onDecode(decodedString) {
      let result = JSON.parse(decodedString);
      this.getAdherant(result.id)
        .catch(() => {})
        .then(() => {
          this.onScanFinish = true;
          this.onScan = false;
        });
    },
    ...mapMutations(["SELECT_ADHERANT"]),
    edit(ev) {
      this.SELECT_ADHERANT(ev);
      if (JSON.parse(ev.medical)["status"]) {
        this.medical = JSON.parse(ev.medical);
      }
      this.editMode = true;
      this.showModal = true;
      // window.alert(JSON.stringify(ev));
    },
    reset() {
      this.medical = { q1: false, q2: true, q3: true, q4: true, q5: true, q6: [] };
      this.$store.commit("SELECT_ADHERANT", {});
    },
    notifyVue(verticalAlign, horizontalAlign, color, msg, icon) {
      this.$notify({
        // component: NotificationTemplate,
        message: msg,
        icon: icon,
        horizontalAlign: horizontalAlign,
        verticalAlign: verticalAlign,
        type: color /* success, primary, info, warning, danger */,
      });
    },
    buildQuestion() {
      this.medical.status = 1; //Marqué l'ahdérant comme vérifié
      const medical_form = JSON.stringify(this.medical);
      // alert(medical_form);
      this.adherant.medical = this.medical;
      this.updateI();
    },
    updateI() {
      this.updateAdherant({ id: this.adherant.id, data: this.adherant })
        .catch((e) => {
          console.log(e);
        })
        .then(() => {
          this.showModal = false;
          this.reset();
        });
    },
    deleteI() {
      this.deleteAdherant(this.adherant.id)
        .catch(() => {})
        .then(() => {
          this.$store.commit("UPDATE_SEARCH_RESULT_ADHERANT", this.adherants);
          this.showModal = false;
          this.reset();
        });
    },
    active(status) {
      this.adherant.actif = status;
      this.updateI();
    },

    receive(data) {
      this.$store.commit("UPDATE_SEARCH_RESULT_ADHERANT", data);
    },
  },
  mounted() {
    this.getAllAdherants();
  },
};
</script>
<style>
.vm {
  max-width: 701px;
}
.scroll-area {
  max-height: 400px;
}
</style>
