<template>
  <div class="row">
    <Modal
      :based-on="showModal"
      @close="
        showModal = false;
        reset();
      "
      title="Edition Service"
    >
      <form @submit.prevent="create()">
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputNom">Nom du Role</label>
              <input
                type="text"
                class="form-control"
                v-model="role.nom"
                id="inputNom"
                placeholder="Nom du role"
                required
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            @click="
              showModal = false;
              reset();
            "
            type="button"
            class="btn btn-secondary float-left"
            data-dismiss="modal"
          >
            Fermer
          </button>
          <!-- <button v-if="!editMode" type="submit" class="btn btn-primary">
            Enregistrer
          </button>
          <button v-if="editMode" @click="deleteI()" type="button" class="btn btn-danger">
            Supprimer
          </button>
          <button v-if="editMode" @click="updateI()" type="button" class="btn btn-info">
            Mettre à jour
          </button> -->
        </div>
      </form>
    </Modal>

    <div class="col-12">
      <div class="form-row">
        <div class="form-group col-md-8 float-left">
          <pl-searchbar :list="roles" :table_name="'role'" @send-data="receive" />
        </div>
        <div class="form-group col-md-4 float-right">
          <!-- <p-button
            class="float-right"
            type="info"
            data-toggle="modal"
            data-target="#editForfait"
            @click.native.prevent="showModal = !showModal"
          >
            <i class="ti-plus"></i> Nouveau
          </p-button> -->
        </div>
      </div>
      <br />
    </div>
    <div class="col-12">
      <card :title="table.title" :subTitle="table.subTitle">
        <div slot="raw-content" class="table-responsive">
          <paper-table
            @line-selected="edit($event)"
            :data="dataSearchRole"
            :columns="table.columns"
          >
          </paper-table>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
import { PaperTable } from "@/components";
import PlSearchbar from "../components/pl-searchbar.vue";
import { mapGetters, mapActions, mapMutations } from "vuex";
const tableColumns = ["Id", "Nom"];

export default {
  components: {
    PaperTable,
    PlSearchbar,
  },
  data() {
    return {
      showModal: false,
      editMode: false,
      table: {
        title: "Table Roles",
        subTitle: "Liste des roles",
        columns: [...tableColumns],
      },
      catFilter: -1,
    };
  },
  computed: {
    ...mapGetters({
      dataSearchRole: "dataSearchRole",
      roles: "roles",
      role: "role",
      selected: "getSelectedRole",
    }),
  },
  methods: {
    ...mapActions(["getAllRoles", "createRole", "updateRole", "deleteRole"]),
    ...mapMutations(["SELECT_ROLE"]),
    edit(ev) {
      this.SELECT_ROLE(ev);
      this.editMode = true;
      this.showModal = true;
      // window.alert(JSON.stringify(ev));
    },
    reset() {
      this.$store.commit("SELECT_ROLE", {});
      this.editMode = false;
    },
    create() {
      this.createRole(this.role)
        .catch(() => {})
        .then(() => {
          this.showModal = false;
          this.reset();
        });
    },
    updateI() {
      this.updateRole({ id: this.role.id, data: this.role })
        .catch(() => {})
        .then(() => {
          this.showModal = false;
          this.reset();
        });
    },
    deleteI() {
      this.$store.commit("UPDATE_SEARCH_RESULT_ROLE", this.roles);
      this.deleteRole(this.role.id)
        .catch(() => {})
        .then(() => {
          this.showModal = false;
          this.reset();
        });
    },
    receive(data) {
      this.$store.commit("UPDATE_SEARCH_RESULT_ROLE", data);
    },
  },
  mounted() {
    this.getAllRoles();
  },
};
</script>
<style></style>
