<template>
  <div class="row">
    <Modal
      :based-on="showModal"
      @close="
        showModal = false;
        reset();
      "
      title="Edition Service"
    >
      <form @submit.prevent="create()">
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputNom">Nom du service</label>
              <input
                type="text"
                class="form-control"
                v-model="service.nom"
                id="inputNom"
                placeholder="Nom du service"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputPrix">Prix</label>
              <input
                type="number"
                class="form-control"
                v-model="service.prix"
                id="inputPrix"
                placeholder="Prix (FCFA)"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputPrix">Type</label>

              <!-- <v-select
                v-model="service.categorie_id"
                label="libelle"
                :reduce="(categorie) => categorie.id"
                :options="categories"
              ></v-select> -->
              <model-list-select
                :list="categories"
                option-value="id"
                option-text="libelle"
                placeholder="Select categorie"
                v-model="service.categorie_id"
              ></model-list-select>
              <!-- <select
                v-model="service.categorie_id"
                class="custom-select"
                id="inputType"
                required
              >
                <option selected>Choose...</option>
                <option v-for="c in categories" :key="c.index" :value="c.id">
                  {{ c.libelle }}
                </option>
              </select> -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            @click="
              showModal = false;
              reset();
            "
            type="button"
            class="btn btn-secondary float-left"
            data-dismiss="modal"
          >
            Fermer
          </button>
          <button v-if="!editMode" type="submit" class="btn btn-primary">
            Enregistrer
          </button>
          <button v-if="editMode" @click="deleteI()" type="button" class="btn btn-danger">
            Supprimer
          </button>
          <button v-if="editMode" @click="updateI()" type="button" class="btn btn-info">
            Mettre à jour
          </button>
        </div>
      </form>
    </Modal>

    <div class="col-12">
      <div class="form-row">
        <div class="form-group col-md-2 float-left">
          <select v-model="catFilter" class="custom-select" id="inputType">
            <option value="-1" selected>Trier par</option>
            <option v-for="c in categories" :key="c.index" :value="c.id">
              {{ c.libelle }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-8 float-left">
          <pl-searchbar :list="services" :table_name="'service'" @send-data="receive" />
        </div>
        <div class="form-group col-md-2 float-right">
          <p-button
            class="float-right"
            type="info"
            data-toggle="modal"
            data-target="#editForfait"
            @click.native.prevent="showModal = !showModal"
          >
            <i class="ti-plus"></i> Nouveau
          </p-button>
        </div>
      </div>
      <br />
    </div>
    <div class="col-12">
      <card :title="table.title" :subTitle="table.subTitle">
        <div slot="raw-content" class="table-responsive">
          <paper-table
            @line-selected="edit($event)"
            :data="displayedElts"
            :columns="table.columns"
          >
          </paper-table>
        </div>
      </card>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <button
              type="button"
              class="page-link"
              v-if="pagin.page != 1"
              @click="pagin.page--"
            >
              Previous
            </button>
          </li>
          <li
            class="page-item"
            v-for="pageNumber in pagin.pages.slice(pagin.page - 1, pagin.page + 5)"
            :key="pageNumber.index"
          >
            <button type="button" class="page-link" @click="pagin.page = pageNumber">
              {{ pageNumber }}
            </button>
          </li>
          <li class="page-item">
            <button
              type="button"
              class="page-link"
              @click="pagin.page++"
              v-if="pagin.page < pagin.pages.length"
            >
              Next
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>
<script>
import { PaperTable } from "@/components";
import PlSearchbar from "../components/pl-searchbar.vue";
import { mapGetters, mapActions, mapMutations } from "vuex";
const tableColumns = [/* "Id",  */ "Nom", "Prix", "Categorie"];

export default {
  components: {
    PaperTable,
    PlSearchbar,
  },
  data() {
    return {
      showModal: false,
      editMode: false,
      table: {
        title: "Table Services",
        subTitle: "Liste des services",
        columns: [...tableColumns],
      },
      catFilter: -1,
      pagin: {
        page: 1,
        perPage: 10,
        pages: [],
      },
    };
  },
  computed: {
    ...mapGetters({
      dataSearchService: "dataSearchService",
      services: "services",
      categories: "categories",
      service: "service",
      selected: "getSelectedService",
      servicesBy: "servicesByCat",
      searchedServicesBy: "searchedServicesByCat",
    }),
    servicesByCat() {
      // console.log(this.searchedServicesBy(this.catFilter));
      // console.log(this.catFilter);
      if (this.catFilter != -1) return this.searchedServicesBy(this.catFilter);
      else return this.dataSearchService;
    },
    displayedElts() {
      return this.paginate(this.servicesByCat);
    },
  },
  watch: {
    servicesByCat() {
      this.setPages();
    },
  },
  methods: {
    ...mapActions([
      "getAllServices",
      "createService",
      "getAllCategories",
      "updateService",
      "deleteService",
    ]),
    ...mapMutations(["SELECT_SERVICE"]),
    edit(ev) {
      this.SELECT_SERVICE(ev);
      this.editMode = true;
      this.showModal = true;
      // window.alert(JSON.stringify(ev));
    },
    reset() {
      // window.alert(JSON.stringify(this.service));
      this.$store.commit("SELECT_SERVICE", {});
      this.editMode = false;
    },
    create() {
      this.createService(this.service)
        .catch(() => {})
        .then(() => {
          this.showModal = false;
          this.reset();
        });
    },
    updateI() {
      this.updateService({ id: this.service.id, data: this.service })
        .catch(() => {})
        .then(() => {
          this.showModal = false;
          this.reset();
        });
    },
    deleteI() {
      this.deleteService(this.service.id)
        .catch(() => {})
        .then(() => {
          this.$store.commit("UPDATE_SEARCH_RESULT_SERVICE", this.services);
          this.showModal = false;
          this.reset();
        });
    },
    receive(data) {
      this.$store.commit("UPDATE_SEARCH_RESULT_SERVICE", data);
    },
    log(val) {
      console.log(val);
    },
    setPages() {
      this.pagin.pages = [];
      let numberOfPages = Math.ceil(this.servicesByCat.length / this.pagin.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pagin.pages.push(index);
      }
    },
    paginate(elts) {
      let page = this.pagin.page;
      let perPage = this.pagin.perPage;
      let from = page * perPage - perPage;
      let to = page * perPage;
      return elts.slice(from, to);
    },
  },
  mounted() {
    this.getAllServices();
    this.getAllCategories();
  },
};
</script>
<style></style>
