<template>
  <div class="row">
    <Modal
      :based-on="showModal"
      @close="
        showModal = false;
        reset();
      "
      title="Edition Article"
    >
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputLibelle">Libelle</label>
              <input
                type="text"
                class="form-control"
                id="inputLibelle"
                v-model="article.libelle"
                placeholder="Libelle"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputPrix">Prix Unitaire</label>
              <input
                type="text"
                class="form-control"
                id="inputPrix"
                v-model="article.prix"
                placeholder="Prix"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputQuantité">Quantité</label>
              <input
                type="number"
                class="form-control"
                required
                id="inputQuantité"
                v-model="article.quantite"
                placeholder="Quantité"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputUnite">Unite</label>
              <model-list-select
                :list="unites"
                option-value="id"
                option-text="nom"
                placeholder="Select unite"
                v-model="article.unite_id"
              ></model-list-select>
            </div>

            <div class="form-group col-md-6">
              <label for="inputPrix">Groupe</label>
              <model-list-select
                :list="groupes"
                option-value="id"
                option-text="nom"
                placeholder="Select group"
                v-model="article.groupe_id"
              ></model-list-select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          @click="
            showModal = false;
            reset();
          "
          type="button"
          class="btn btn-secondary float-left"
          data-dismiss="modal"
        >
          Fermer
        </button>

        <button
          v-if="editMode && article.actif == 0"
          @click="active(1)"
          type="button"
          class="btn btn-success"
        >
          Activer
        </button>
        <button
          v-if="editMode && article.actif == 1"
          @click="active(0)"
          type="button"
          class="btn btn-dark"
        >
          Désactiver
        </button>

        <button v-if="!editMode" @click="create()" type="button" class="btn btn-primary">
          Enregistrer
        </button>
        <button v-if="editMode" @click="deleteI()" type="button" class="btn btn-danger">
          Supprimer
        </button>
        <button v-if="editMode" @click="updateI()" type="button" class="btn btn-info">
          Mettre à jour
        </button>
      </div>
    </Modal>

    <div class="col-12">
      <div class="form-row">
        <div class="form-group col-md-2 float-left">
          <select v-model="groupFilter" class="custom-select" id="inputType">
            <option value="-1" selected>Trier par</option>
            <option v-for="g in groupes" :key="g.index" :value="g.id">
              {{ g.nom }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-8 float-left">
          <pl-searchbar :list="articles" :table_name="'article'" @send-data="receive" />
        </div>
        <div class="form-group col-md-2 float-right">
          <p-button
            class="float-right"
            type="info"
            data-toggle="modal"
            data-target="#editForfait"
            @click.native.prevent="showModal = !showModal"
          >
            <i class="ti-plus"></i> Nouveau
          </p-button>
        </div>
      </div>
      <br />
    </div>
    <div class="col-12">
      <card :title="table1.title" :subTitle="table1.subTitle">
        <div slot="raw-content" class="table-responsive">
          <paper-table
            @line-selected="edit($event)"
            :data="articlesByGroup"
            :columns="table1.columns"
          >
          </paper-table>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import { PaperTable } from "@/components";
import PlSearchbar from "../components/pl-searchbar.vue";
const tableColumns = [/* "Id",  */ "Libelle", "Prix", "Quantite", "Unite", "Groupe"];

export default {
  components: {
    PaperTable,
    PlSearchbar,
  },
  data() {
    return {
      editMode: false,
      showModal: false,
      groupFilter: -1,
      table1: {
        title: "Table Stock",
        subTitle: "Liste des articles",
        columns: [...tableColumns],
      },
    };
  },
  computed: {
    ...mapGetters({
      dataSearchArticle: "dataSearchArticle",
      groupes: "groupes",
      articles: "articles",
      article: "article",
      unites: "unites",
      selected: "getSelectedArticle",
      articlesBy: "articlesByGroup",
      searchedArticlesBy: "searchedArticlesByGroup",
    }),
    /* dataSearchArticleRebased() {
      return this.dataSearchArticle.map((art) => {
        art.unite = art.unite["nom"];
        // console.log(art);
        return art;
      });
    }, */

    articlesByGroup() {
      if (this.groupFilter != -1) return this.searchedArticlesBy(this.groupFilter);
      else return this.dataSearchArticle;
    },
  },
  methods: {
    ...mapActions([
      "getAllArticles",
      "getAllUnites",
      "getAllGroupes",
      "createArticle",
      "updateArticle",
      "deleteArticle",
    ]),
    ...mapMutations(["SELECT_ARTICLE"]),
    edit(ev) {
      this.SELECT_ARTICLE(ev);
      this.editMode = true;
      this.showModal = true;
      // window.alert(JSON.stringify(ev));
    },
    reset() {
      this.$store.commit("SELECT_ARTICLE", {});
      this.editMode = false;
    },
    create() {
      this.createArticle(this.article)
        .catch(() => {})
        .then(() => {
          this.showModal = false;
          this.reset();
        });
    },
    updateI() {
      this.updateArticle({ id: this.article.id, data: this.article })
        .catch(() => {})
        .then(() => {
          this.showModal = false;
          this.reset();
        });
    },
    deleteI() {
      this.deleteArticle(this.article.id)
        .catch(() => {})
        .then(() => {
          this.$store.commit("UPDATE_SEARCH_RESULT_EMPLOYE", this.employes);
          this.showModal = false;
          this.reset();
        });
    },
    receive(data) {
      this.$store.commit("UPDATE_SEARCH_RESULT_ARTICLE", data);
    },
  },
  mounted() {
    this.getAllArticles();
    this.getAllUnites();
    this.getAllGroupes();
  },
};
</script>
<style></style>
