<template>
  <div class="row">
    <Modal
      :based-on="showModal"
      @close="
        showModal = false;
        reset();
      "
      title="Nouvelle vente"
    >
      <step-indicator :current="currentTab" :total="3" currentColor="darkblue" />

      <div class="modal-body">
        <div class="container">
          <form role="form">
            <div class="panel panel-primary setup-content" id="step-1">
              <div class="panel-body">
                <div class="form-row">
                  <div align="center" v-if="currentTab == 0" class="form-group col-md-12">
                    <label class="control-label">Selectionner un adhérent</label>

                    <model-list-select
                      :list="adherants"
                      option-value="id"
                      option-text="nom"
                      placeholder="Select adherant"
                      v-model="vente.adherant_id"
                    ></model-list-select>
                    <!-- <select
                      v-model="vente.adherant_id"
                      class="custom-select"
                      id="inputType"
                    >
                      <option value="-1" selected>C'est pas pour un adhérent</option>
                      <option v-for="a in adherants" :key="a.index" :value="a.id">
                        {{ a.nom + " " + a.prenom }}
                      </option>
                    </select> -->
                  </div>
                  <div align="center" v-if="currentTab == 1" class="form-group col-md-12">
                    <label class="control-label">Service & Forfaits</label>

                    <div slot="raw-content" class="table">
                      <table class="table">
                        <thead>
                          <th>
                            <a class="nav-link">Service</a>
                          </th>
                          <th>
                            <a class="nav-link">Unité</a>
                          </th>
                          <th>
                            <a class="nav-link button" @click="addService = !addService">
                              <!-- Forfait -->
                              <i
                                v-if="addService"
                                style="cursor: pointer; font-size: 20px"
                                class="ti-plus"
                              ></i>
                              <i
                                v-else
                                style="cursor: 0 pointer; font-size: 20px; color: red"
                                class="ti-close"
                              ></i>
                            </a>
                          </th>
                        </thead>
                        <tbody>
                          <tr v-if="!addService">
                            <td>
                              <model-list-select
                                :list="services"
                                option-value="id"
                                option-text="nom"
                                placeholder="Select service"
                                v-model="selectedS.id"
                              ></model-list-select>
                              <!-- <select
                                v-model="selectedS.id"
                                class="custom-select"
                                id="inputType"
                              >
                                <option value="-1" selected>Choose...</option>
                                <option
                                  v-for="s in services"
                                  :key="s.index"
                                  :value="s.id"
                                >
                                  {{ s.nom }}
                                </option>
                              </select> -->
                              <!-- <input list="inputType" v-model="selectedS.id" />
                      <datalist id="inputType">
                        <option value="-1" selected>Choose...</option>
                        <option v-for="s in services" :key="s.index" :value="s.id">
                          {{ s.nom }}
                        </option>
                      </datalist> -->
                            </td>
                            <td>
                              <input
                                v-model="selectedS.nombre"
                                type="number"
                                class="form-control"
                                placeholder="Nombre"
                              />
                            </td>
                            <td>
                              <a class="nav-link" @click="add()"
                                ><i
                                  style="cursor: pointer; font-size: 20px; color: green"
                                  class="ti-check"
                                ></i
                              ></a>
                            </td>
                          </tr>
                          <tr v-for="s in selectedServices" :key="s.index">
                            <td>{{ s.nom }}</td>
                            <td>{{ s.nombre }}</td>
                            <td @click="remove(s.id)">
                              <a class="nav-link"
                                ><i
                                  style="cursor: pointer; font-size: 20px; color: red"
                                  class="ti-trash"
                                ></i
                              ></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <table class="table" v-if="vente.adherant_id">
                        <thead>
                          <th>
                            <a class="nav-link">Forfait</a>
                          </th>
                          <th>
                            <a class="nav-link button" @click="addForfait = !addForfait">
                              <i
                                v-if="addForfait"
                                style="cursor: pointer; font-size: 20px"
                                class="ti-plus"
                              ></i>
                              <i
                                v-else
                                style="cursor: 0 pointer; font-size: 20px; color: red"
                                class="ti-close"
                              ></i>
                            </a>
                          </th>
                        </thead>
                        <tbody>
                          <tr v-if="!addForfait">
                            <td>
                              <model-list-select
                                :list="forfaits"
                                option-value="id"
                                option-text="nom"
                                placeholder="Select forfait"
                                v-model="selectedF.id"
                              ></model-list-select>
                              <!-- <select
                                v-model="selectedF.id"
                                class="custom-select"
                                id="inputType"
                              >
                                <option value="-1" selected>Choose...</option>
                                <option
                                  v-for="f in forfaits"
                                  :key="f.index"
                                  :value="f.id"
                                >
                                  {{ f.nom }}
                                </option>
                              </select> -->
                              <!-- <input list="inputType" v-model="selectedS.id" />
                              <datalist id="inputType">
                                <option value="-1" selected>Choose...</option>
                                <option
                                  v-for="s in services"
                                  :key="s.index"
                                  :value="s.id"
                                >
                                  {{ s.nom }}
                                </option>
                              </datalist> -->
                            </td>
                            <td>
                              <a class="nav-link" @click="addF()"
                                ><i
                                  style="cursor: pointer; font-size: 20px; color: green"
                                  class="ti-check"
                                ></i
                              ></a>
                            </td>
                          </tr>
                          <tr v-for="f in selectedForfaits" :key="f.index">
                            <td>{{ f.nom }}</td>
                            <td @click="removeF(f.id)">
                              <a class="nav-link"
                                ><i
                                  style="cursor: pointer; font-size: 20px; color: red"
                                  class="ti-trash"
                                ></i
                              ></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div align="center" v-if="currentTab == 2" class="form-group col-md-12">
                    <label class="control-label">Finalisation</label>
                  </div>
                  <div v-if="currentTab == 2" class="form-group col-md-12">
                    <b
                      ><label class="control-label"
                        >Prix Total : {{ prixTotal | fcfa }}</label
                      ></b
                    ><br />
                    <label for="startDate">Date de début</label>
                    <input
                      type="date"
                      class="form-control"
                      id="startDate"
                      v-model="vente.start_date"
                      placeholder="Débute le"
                    />
                    <label class="control-label">Mode de Paiement</label>
                    <select v-model="vente.mode_id" class="custom-select" id="inputType">
                      <option selected>Mode de paiement</option>
                      <option v-for="m in modes" :key="m.id" :value="m.id">
                        {{ m.nom }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button
          @click="
            showModal = false;
            reset();
          "
          type="button"
          class="btn btn-secondary float-left"
          data-dismiss="modal"
        >
          Fermer
        </button> -->
        <span style="color: red" v-if="currentTab === 2 && prixTotal <= 0">
          Retournez selectiionner au moins un forfait ou service
        </span>
        <button
          @click="currentTab = currentTab - 1"
          v-if="currentTab > 0"
          type="button"
          class="btn btn-primary"
        >
          Prev</button
        ><button
          @click="currentTab = currentTab + 1"
          v-if="currentTab < 2"
          type="button"
          class="btn btn-primary"
        >
          Next
        </button>
        <button
          v-if="currentTab === 2 && prixTotal > 0"
          @click="create()"
          type="button"
          class="btn btn-primary"
        >
          Enregistrer
        </button>
      </div>
    </Modal>

    <div class="col-12">
      <div class="form-row">
        <div class="form-group col-md-8 float-left">
          <pl-searchbar :list="ventes" :table_name="'vente'" @send-data="receive" />
        </div>
        <div class="form-group col-md-4 float-right">
          <p-button
            class="float-right"
            type="info"
            data-toggle="modal"
            data-target="#editForfait"
            @click.native.prevent="showModal = !showModal"
          >
            <i class="ti-plus"></i> Nouveau
          </p-button>
        </div>
      </div>
      <br />
    </div>
    <div class="col-12">
      <card :title="table1.title" :subTitle="table1.subTitle">
        <div slot="raw-content" class="table-responsive">
          <!-- @line-selected="edit($event)" -->

          <paper-table
            :data="displayedElts"
            @line-selected="detail($event)"
            :columns="table1.columns"
          >
          </paper-table>
        </div>
      </card>

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <button
              type="button"
              class="page-link"
              v-if="pagin.page != 1"
              @click="pagin.page--"
            >
              Previous
            </button>
          </li>
          <li
            class="page-item"
            v-for="pageNumber in pagin.pages.slice(pagin.page - 1, pagin.page + 5)"
            :key="pageNumber.index"
          >
            <button type="button" class="page-link" @click="pagin.page = pageNumber">
              {{ pageNumber }}
            </button>
          </li>
          <li class="page-item">
            <button
              type="button"
              class="page-link"
              @click="pagin.page++"
              v-if="pagin.page < pagin.pages.length"
            >
              Next
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import PlSearchbar from "../components/pl-searchbar.vue";
import { PaperTable } from "@/components";
import StepIndicator from "vue-step-indicator";
import moment from "moment";
const tableColumns = [
  /* "Id",  */ "Code",
  "Date Vente",
  /* "Date", */ "Client",
  "Prix",
  "Mode",
];

export default {
  components: {
    PaperTable,
    StepIndicator,
    PlSearchbar,
  },
  data() {
    return {
      showModal: false,
      AdhFilter: -1,
      currentTab: 0,
      VenFilter: -1,
      editMode: false,
      table1: {
        title: "Table Ventes",
        subTitle: "Liste des ventes",
        columns: [...tableColumns],
      },
      addService: true,
      selectedServices: [],
      selectedS: { nombre: 1, id: 1 },
      addForfait: true,
      selectedForfaits: [],
      selectedF: { id: 1 },
      pagin: {
        page: 1,
        perPage: 10,
        pages: [],
      },
    };
  },
  computed: {
    ...mapGetters({
      dataSearchVente: "dataSearchVente",
      serviceById: "serviceById",
      forfaitById: "forfaitById",
      ventes: "ventes",
      modes: "modes",
      adherants: "adherants",
      forfaits: "forfaits",
      services: "services",
      user: "getAppUser",
      vente: "vente",
      selected: "getSelectedVente",
    }),
    prixTotalServices() {
      let prix = 0;
      this.selectedServices.forEach((service) => {
        prix = prix + service.prixTotal;
      });
      return prix;
    },
    prixTotalForfaits() {
      let prix = 0;
      this.selectedForfaits.forEach((forfait) => {
        prix = prix + forfait.prix;
      });
      return prix;
    },
    prixTotal() {
      return Number(this.prixTotalServices) + Number(this.prixTotalForfaits);
    },
    selectedService() {
      return this.serviceById(this.selectedS.id);
    },
    selectedForfait() {
      return this.forfaitById(this.selectedF.id);
    },
    displayedElts() {
      return this.paginate(this.dataSearchVente);
    },
  },
  watch: {
    dataSearchVente() {
      this.setPages();
    },
  },
  mounted() {
    this.vente.adherant_id = -1;
    // document.getElementById("startDate").value = moment().format("YYYY-MM-DD");
  },
  methods: {
    ...mapActions([
      "getAllForfaits",
      "getAllServices",
      "getAllAdherants",
      "getAllModes",
      "getAllVentes",
      "createVente",
      "updateVente",
      "deleteVente",
    ]),
    ...mapMutations(["SELECT_VENTE"]),
    /* edit(ev) {
      this.SELECT_VENTE(ev);
      this.editMode = true;
      this.showModal = true;
      // window.alert(JSON.stringify(ev));
    }, */

    detail(vente) {
      this.SELECT_VENTE(vente);
      this.$router.push({ name: "factures", params: { code: vente.code } });
      // window.alert(JSON.stringify(vente));
    },

    reset() {
      this.$store.commit("SELECT_VENTE", { start_date: moment().format("YYYY-MM-DD") });
      this.currentTab = 0;
      this.selectedServices = [];
      this.selectedS = { nombre: 1, id: 1 };
      this.addService = true;
      this.selectedForfaits = [];
      this.selectedF = { id: 1 };
      this.addForfait = true;
    },
    add() {
      this.addService = true;

      let s = {
        id: this.selectedS.id,
        nombre: this.selectedS.nombre,
        prixU: this.selectedService.prix,
        prixTotal: this.selectedService.prix * this.selectedS.nombre,
        nom: this.selectedService.nom,
      };
      this.selectedServices.unshift(s);
      this.selectedS = { nombre: 1, id: 1 };
    },
    remove(service_id) {
      this.selectedServices = this.selectedServices.filter((s) => s.id != service_id);
    },
    removeF(forfait_id) {
      this.selectedForfaits = this.selectedForfaits.filter((f) => f.id != forfait_id);
    },
    addF() {
      this.addForfait = true;
      let f = {
        id: this.selectedF.id,
        nom: this.selectedForfait.nom,
        duree: this.selectedForfait.duree,
        prix: this.selectedForfait.prix,
      };
      console.log(f);
      this.selectedForfaits.unshift(f);
      console.log(this.selectedForfaits);
    },
    create() {
      if (this.vente.adherant_id == -1) delete this.vente.adherant_id;
      console.table(this.selectedServices);
      this.vente.services = JSON.stringify(this.selectedServices);
      console.table(this.selectedForfaits);
      this.vente.forfaits = JSON.stringify(this.selectedForfaits);
      this.vente.user_id = this.user.id;
      this.vente.prix = this.prixTotal;

      console.log(this.vente);
      console.table(this.vente);
      this.createVente(this.vente)
        .catch(() => {})
        .then(() => {
          this.showModal = false;
          this.reset();
        });
    },
    updateI() {
      this.updateVente({ id: this.vente.id, data: this.vente })
        .catch(() => {})
        .then(() => {
          this.showModal = false;
          this.reset();
        });
    },
    deleteI() {
      this.deleteVente(this.vente.id)
        .catch(() => {})
        .then(() => {
          this.$store.commit("UPDATE_SEARCH_RESULT_VENTE", this.ventes);
          this.showModal = false;
          this.reset();
        });
    },
    receive(data) {
      this.$store.commit("UPDATE_SEARCH_RESULT_VENTE", data);
    },
    setPages() {
      this.pagin.pages = [];
      let numberOfPages = Math.ceil(this.dataSearchVente.length / this.pagin.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pagin.pages.push(index);
      }
    },
    paginate(elts) {
      let page = this.pagin.page;
      let perPage = this.pagin.perPage;
      let from = page * perPage - perPage;
      let to = page * perPage;
      return elts.slice(from, to);
    },
  },
  mounted() {
    this.getAllVentes();
    this.getAllModes();
    this.getAllForfaits();
    this.getAllServices();
    this.getAllAdherants();
  },
};
</script>

<style src="vue-step-indicator/dist/vue-step-indicator.css"></style>
<style scoped></style>
