<template>
  <table class="table" :class="tableClass">
    <thead>
      <slot name="columns">
        <th v-for="column in columns" :key="column">{{ column }}</th>
      </slot>
    </thead>
    <tbody>
      <tr
        style="cursor: pointer"
        v-for="(item, index) in data"
        :key="index"
        @click="lineSelected(item)"
      >
        <slot :row="item">
          <td
            v-for="(column, index) in columns"
            :key="index"
            v-html="itemValue(item, column)"
          ></td>
          <!-- v-if="hasValue(item, column)" -->
        </slot>
      </tr>
    </tbody>
  </table>
</template>
<script>
import moment from "moment";

export default {
  name: "paper-table",
  props: {
    columns: Array,
    data: Array,
    type: {
      type: String, // striped | hover
      default: "striped",
    },
    title: {
      type: String,
      default: "",
    },
    subTitle: {
      type: String,
      default: "",
    },
  },
  computed: {
    tableClass() {
      return `table-${this.type}`;
    },
  },
  methods: {
    getAge(birthday) {
      var a = moment();
      var b = moment(birthday /* , "YYYY" */);
      var age = a.diff(b, "years"); // calculates patient's age in years
      return age; // this prints out the age
    },
    lineSelected(item) {
      this.$emit("line-selected", item);
    },
    hasValue(item, column) {
      return item[column.toLowerCase()] !== "undefined";
    },
    itemValue(item, column) {
      let retVal = item[column.toLowerCase()];
      if (item[column.toLowerCase()] == null) retVal = "---";
      if (column.toLowerCase() === "prix") retVal = item[column.toLowerCase()] + " FCFA";
      if (column.toLowerCase() === "age")
        retVal = this.getAge(item[column.toLowerCase()]) + " Ans";
      if (column.toLowerCase() === "duree")
        retVal = item[column.toLowerCase()] + " Jours";
      if (column.toLowerCase() === "type") retVal = item["typef"]["libelle"];
      if (column.toLowerCase() === "date vente")
        retVal = moment(item["created_at"]).locale("fr").format("Do MMMM YYYY");
      if (column.toLowerCase() === "mode")
        if (item["mode"] != null) retVal = item["mode"]["nom"];
      if (column.toLowerCase() === "unite")
        if (item["unite"] != null) retVal = item["unite"]["nom"];
      if (column.toLowerCase() === "groupe")
        if (item["groupe"] != null) retVal = item["groupe"]["nom"];
      if (column.toLowerCase() === "categorie")
        if (item["categorie"] != null) retVal = item["categorie"]["libelle"];
      if (column.toLowerCase() === "adherant")
        if (item["adherant"] != null) retVal = item["adherant"]["nom"];
      // if (column.toLowerCase() === "role") return item["role"][nom];
      return retVal;
    },
  },
};
</script>
<style></style>
