<script>
export default {
  name: "PlSearch", // vue component name
  data() {
    return {
      search_query: "",
    };
  },
  props: {
    list: Array,
  },

  computed: {
    // Function permettant de filtrer les données a base d'une chaine de caractère et d'une liste
    filteredResources() {
      // Controle si l'on a entré une valeur dans le champs de recherche
      // console.log(this.list);
      if (this.search_query || this.list.length !== 0) {
        // Vérifier le tableau dans lequel on doit faire la recherche
        const keys = Object.keys(this.list[0]);
        return this.list.filter((item) => {
          // console.log(item)
          let i = 0;
          keys.map((key) => {
            // list des variable de l'individu contenant le patern passe
            if (
              item[key] !== null &&
              item[key].toString().toLowerCase().includes(this.search_query.toLowerCase())
            ) {
              // verifier si la variable n'est pas vide et contient le patern
              // console.log(item[key])
              i++;
              return item[key];
            }
          });
          if (i !== 0) {
            return item;
          }
        });
      } else {
        return this.list;
      }
    },
  },

  methods: {
    send() {
      this.$emit("send-data", this.filteredResources);
      console.log(this.filteredResources);
    },
  },
};
</script>

<template>
  <div class="col-md-4 col-sm-4 col-xs-6">
    <div class="input-group">
      <input
        @input="send()"
        v-model="search_query"
        style="height: 30px; font-size: 0.8rem"
        type="text"
        class="bg-light form-control border-0 small"
        placeholder="Recherche"
      />
      <div class="input-group-append">
        <button
          @click="send"
          style="height: 30px; font-size: 0.8rem"
          class="btn btn-primary py-0"
          type="button"
        >
          <i class="ti ti-search"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<style scoped>
.uk-search-icon-flip {
  background: #ff4c89;
  left: 150px;
}

.uk-search .uk-search-icon-flip {
  left: 150px;
}

.uk-search-default .uk-search-icon {
  border-radius: 0 15px 15px 0;
}

.uk-search-default .uk-search-icon-flip ~ .uk-search-input {
  border-radius: 15px 0 0 15px;
}
</style>
