<template>
  <Modal :based-on="show" @close="show = false" title="My first modal">
    <p>Modal content goes here...</p>
    <div class="modal-body">...</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      <button type="button" class="btn btn-primary">Enregistrer</button>
    </div>
  </Modal>
</template>

<script>
export default {
  name: "EditForfait",
  props: ["show"],
};
</script>

<style></style>
